body {
    margin: 0;
    background: linear-gradient(135deg, #460000, #460000);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* الكرت */
.card {
    background: rgb(250, 169, 169);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

/* القلب */
.heart {
    font-size: 80px;
    animation: pulse 1s infinite;
}

/* حركة القلب */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* التايمر */
#timer {
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

/* الزر */
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #ff4da6;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

/* الزر المقفول */
button:disabled {
    background: rgb(152, 139, 139);
    cursor: not-allowed;
}